.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* main css */

.container{
 padding-top: 30px;
 margin-bottom: 30px;
 background-color: chartreuse;
 width: 86%;
 margin-left: 7%;
}
.header {
  padding: 20px;
  background-color: brown;
}
.article{
  padding: 2%;
  width:100%;
  box-sizing: border-box;
  background-color: cyan;
  display: flex;
  justify-content: space-between;
}
.news-image {
  height: 200px;
  width: 26%;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-details {
  margin: 0%;
  height: 200px;
  width:71%;
  background-color:yellow;
}